<!DOCTYPE html>
<html>
<head>
    <title>资源设备管理</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../plugins/jqmloading/jquery.mloading.css">
    <link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <!--<link rel="stylesheet" href="../../plugins/jqdatetimepicker/jquery.datetimepicker.min.css">-->
    <link rel="stylesheet" href="../../plugins/bootdatetimepicker/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="../../plugins/jqfileupload/css/jquery.fileupload.css">
    <link rel="stylesheet" href="../../plugins/jqfileupload/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../../css/main.css">
    <style>
        .row {
            border-top: none
        }
        fieldset legend {
            font-size: 14px;
        }
        .grid-btn {
            margin-top: 5px;
            margin-right: 5px;
        }
    </style>
    <script src="../../libs/jquery.min.js"></script>
    <script src="../../plugins/jqmloading/jquery.mloading.js"></script>
    <!--<script src="../../plugins/jqdatetimepicker/jquery.datetimepicker.full.js"></script>-->
    <script src="../../plugins/layer/layer.js"></script>
    <script src="../../libs/bootstrap.min.js"></script>
    <script src="../../plugins/bootdatetimepicker/bootstrap-datetimepicker.js"></script>
    <script src="../../plugins/bootdatetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="../../libs/vue.min.js"></script>
    <script src="../../libs/vuejs-datepicker.min.js"></script>
    <script src="../../libs/ajaxupload.js"></script>
    <script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../../plugins/jqfileupload/js/vendor/jquery.ui.widget.js"></script>
    <script src="../../plugins/jqfileupload/js/jquery.iframe-transport.js"></script>
    <script src="../../plugins/jqfileupload/js/jquery.fileupload.js"></script>
    <!-- The File Upload processing plugin -->
    <script src="../../plugins/jqfileupload/js/jquery.fileupload-process.js"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="../../plugins/jqfileupload/js/jquery.fileupload-image.js"></script>
    <!-- The File Upload audio preview plugin -->
    <script src="../../plugins/jqfileupload/js/jquery.fileupload-audio.js"></script>
    <!-- The File Upload video preview plugin -->
    <script src="../../plugins/jqfileupload/js/jquery.fileupload-video.js"></script>
    <!-- The File Upload validation plugin -->
    <script src="../../plugins/jqfileupload/js/jquery.fileupload-validate.js"></script>
    <!-- The File Upload user interface plugin -->
    <script src="../../plugins/jqfileupload/js/jquery.fileupload-ui.js"></script>
    <script src="../../js/common.js"></script>
    <script src="../../js/validator.js"></script>
    <script src="../../js/selectLocation.js"></script>
    <script src="../../js/selectTree.js"></script>
</head>
<body>
<div id="resMgrApp" v-cloak>
    <div v-show="showList">
        <div class="container">
            <div class="form-group col-sm-3">
                <div class="input-group col-sm-12">
                    <input type="hidden" v-model="queryParam.locationId" />
                    <input type="text" placeholder="位置" readonly="readonly" class="form-control" v-model="queryParam.locationName">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-info" @click="showLocationLayer(1)">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <select placeholder="资源类别" class="form-control" v-model="queryParam.resTypeId" >
                    <option  v-for="(resType,index) in resTypeList" :value="resType.id" :disabled="index == 0">{{resType.name}}</option>
                </select>
            </div>
            <div class="form-group col-sm-3">
                <input type="text" class="form-control" v-model="queryParam.name" placeholder="设备名称" />
            </div>
            <div class="form-group col-sm-3 pull-right">
                <a class="btn btn-primary" @click="reload"><i class="fa fa-trash-o"></i>&nbsp;查询</a>
                <a class="btn btn-primary" @click="resetQryCondition"><i class="fa fa-trash-o"></i>&nbsp;重置</a>
            </div>
        </div>
        <div class="container">
            <div class="form-group col-sm-3">
                <div class="input-group col-sm-12">
                    <input type="hidden" v-model="queryParam.deptId" />
                    <input type="text" placeholder="所属部门" readonly="readonly" class="form-control" v-model="queryParam.deptName">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-info" @click="showDeptLayer(1)">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <div class="input-group col-sm-12">
                    <input type="hidden" v-model="queryParam.personResponsible" />
                    <input type="text" placeholder="责任人" readonly="readonly" class="form-control" v-model="queryParam.responsibleName">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-info" @click="showResponsibleLayer(1)">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <div class="input-group col-sm-12">
                    <input type="hidden" v-model="queryParam.maintainCompany" />
                    <input type="text" placeholder="运维单位" readonly="readonly" class="form-control" v-model="queryParam.maintainCompanyName">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-info" @click="showCompanyLayer(1)">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="form-group col-sm-3 pull-right">
                <a v-if="hasPermission('res:resmgr:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
                <a v-if="hasPermission('res:resmgr:update')" class="btn btn-primary" @click="update"><i
                        class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
                <a v-if="hasPermission('res:resmgr:delete')" class="btn btn-primary" @click="del"><i
                        class="fa fa-trash-o"></i>&nbsp;删除</a>
            </div>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
        <!--<div class="grid-btn pull-right">

        </div>-->
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <div class="panel-body">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active">
                    <a href="#div_resBaseInfo" data-toggle="tab" id="link_resBaseInfo">
                        资源信息
                    </a>
                </li>
                <li>
                    <a href="#div_resPurchase" data-toggle="tab" id="link_resPurchase">
                        购置信息
                    </a>
                </li>
                <li>
                    <a href="#div_resMaintenance" data-toggle="tab" id="link_resMaintenance">
                        运维信息
                    </a>
                </li>
                <li>
                    <a href="#div_resInstallConfig" data-toggle="tab" id="link_resInstallConfig">
                        安装配置信息
                    </a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="div_resBaseInfo">
                    <form id="form_resBaseInfo" role="form" class="form-horizontal full-width" method="post">
                        <fieldset>
                            <legend>基本信息</legend>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-2 control-label">
                                        <span class="required">*</span>
                                        资源类别
                                    </div>
                                    <div class="col-sm-10">
                                        <select type="text" class="form-control" id="resBaseInfo.resTypeId" v-model="resBaseInfo.resTypeId" placeholder="资源类别" >
                                            <option  v-for="(resType, index) in resTypeList" :value="resType.id" v-if="index != 0">{{resType.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-2 control-label">
                                        <span class="required">*</span>
                                        设备
                                    </div>
                                    <div class="col-sm-10">
                                        <select type="text" class="form-control" id="resBaseInfo.equipId" v-model="resBaseInfo.equipId" placeholder="设备名称" :disabled="!resBaseInfo.resTypeId" >
                                            <option  v-for="equip  in equipList" :value="equip.id" >{{equip.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-2 control-label">
                                        <span class="required">*</span>
                                        品牌
                                    </div>
                                    <div class="col-sm-10">
                                        <select type="text" class="form-control" id="resBaseInfo.brand" v-model="resBaseInfo.brand" placeholder="品牌" :disabled="!resBaseInfo.equipId || !brandList.length" >
                                            <option  v-for="brand  in brandList" :value="brand.id" >{{brand.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-2 control-label">
                                        <span class="required">*</span>
                                        系列
                                    </div>
                                    <div class="col-sm-10">
                                        <select type="text" class="form-control" id="resBaseInfo.series" v-model="resBaseInfo.series" placeholder="系列" :disabled="!resBaseInfo.brand || !seriesList.length" >
                                            <option  v-for="series  in seriesList" :value="series.id" >{{series.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="row">
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-2 control-label">
                                        <span class="required">*</span>
                                        型号
                                    </div>
                                    <div class="col-sm-10">
                                        <select type="text" class="form-control" id="resBaseInfo.model" v-model="resBaseInfo.model" placeholder="型号" >
                                            <option value="-1">请选择</option>
                                            <option>IOS</option>
                                            <option>android</option>
                                            <option>windows phone</option>
                                        </select>
                                    </div>
                                </div>
                            </div>-->
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-2 control-label">
                                        部门
                                    </div>
                                    <div class="input-group col-sm-8">
                                        <input type="hidden" v-model="resBaseInfo.deptId" />
                                        <input type="text" class="form-control" id="resBaseInfo.deptName" v-model="resBaseInfo.deptName" placeholder="请选择部门" readonly />
                                        <span class="input-group-btn">
                                        <button class="btn btn-info" type="button" @click="showDeptLayer(2)">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-2 control-label">
                                        责任人
                                    </div>
                                    <div class="input-group col-sm-8">
                                        <input type="hidden" v-model="resBaseInfo.personResponsible" />
                                        <input type="text" class="form-control" id="resBaseInfo.responsibleName" v-model="resBaseInfo.responsibleName" placeholder="请选择责任人" readonly />
                                        <span class="input-group-btn">
                                            <button class="btn btn-info" type="button" @click="showResponsibleLayer(2)">
                                                <span class="glyphicon glyphicon-search"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-2 control-label">资源描述</div>
                                    <div class="col-sm-10">
                                    <textarea type="text" rows="5" class="form-control" id="resBaseInfo.remark" v-model="resBaseInfo.remark"
                                              placeholder="资源描述"></textarea>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>出厂信息</legend>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-2 control-label">
                                        <span class="required">*</span>出厂时间
                                    </div>
                                    <div class="input-group col-sm-8">
                                        <input type="text" class="form-control myDatetimePicker" id="resBaseInfo.factoryTime" placeholder="出厂时间" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-info btn-datetime">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-2 control-label">
                                        <span class="required">*</span>整机序列号
                                    </div>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="resBaseInfo.serialNo" v-model="resBaseInfo.serialNo" placeholder="整机序列号"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="col-sm-2 control-label">
                                        <span class="required">*</span>资源铭牌
                                    </div>
                                    <div class="col-sm-10">
                                        <table role="presentation" class="table table-bordered" id="table_resNameplate">
                                            <thead>
                                            <tr>
                                                <th scope="col" class="col-sm-7 pull-center">附件名称</th>
                                                <th scope="col">
                                                    <a class="btn btn-success" id="uploadResNameplate"><i class="fa fa-plus"></i>&nbsp;添加附件</a>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody class="files" id="tbody_resNameplate">
                                                <tr class="template-upload fade in" v-for="(attach, index) in resBaseInfo.resNameplateAttachments">
                                                    <td class="pull-center">
                                                        <div>
                                                            <img :src="attach.tempUrl">
                                                        </div>
                                                        <div>
                                                            <a :href="'*.fileDownload?id=' + attach.id + '&token=' + $token">{{attach.name}}</a>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-primary start" :href="attach.url" target="_blank">
                                                            <i class="glyphicon glyphicon-upload"></i>
                                                            <span>预览</span>
                                                        </a>
                                                        <a class="btn btn-danger cancel" @click="deleteAttach(attach)">
                                                            <i class="fa fa-trash-o"></i>
                                                            <span>删除</span>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-2 control-label">
                                        <span class="required">*</span>部件列表
                                    </div>
                                    <div class="col-sm-10">
                                        <table role="presentation" class="table table-bordered" id="table_resComponent">
                                            <thead>
                                            <tr>
                                                <th scope="col" class="col-sm-5 pull-center">部件名称</th>
                                                <th scope="col" class="col-sm-4 pull-center">序列号</th>
                                                <th scope="col" class="pull-center">
                                                    <a class="btn btn-success" @click="addResComponent"><i class="fa fa-plus"></i>&nbsp;添加</a>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody id="tbody_resComponent">
                                                <tr class="template-upload fade in" v-for="(component, index) in resBaseInfo.resComponentList">
                                                    <td class="input-group pull-center">
                                                        <input type="hidden" v-model="component.dictId" />
                                                        <input type="text" class="form-control" id="component.name" v-model="component.name" />
                                                        <span class="input-group-btn">
                                                        <button class="btn btn-info" type="button" @click="showComponentLayer">
                                                            <span class="glyphicon glyphicon-search"></span>
                                                        </button>
                                                    </span>
                                                    </td>
                                                    <td class="pull-center">
                                                        <input type="text" class="form-control" v-model="component.serialNo" />
                                                    </td>
                                                    <td class="pull-center">
                                                        <a class="btn btn-danger cancel" @click="deleteResComponent(component, index)">
                                                            <i class="fa fa-trash-o"></i>
                                                            <span>删除</span>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!--<div class="form-group col-sm-6">
                                    <div class="col-sm-2 control-label">资源铭牌</div>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="resBaseInfo.nameplate" v-model="resBaseInfo.nameplate"
                                               placeholder="资源铭牌，用于上传照片或其他附件，多个附件ID以逗号分隔"/>
                                    </div>
                                </div>-->
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>位置信息</legend>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-2 control-label">
                                        <span class="required">*</span>位置
                                    </div>
                                    <div class="input-group col-sm-8">
                                        <input type="hidden" v-model="resBaseInfo.locationId" />
                                        <input type="text" class="form-control" id="resBaseInfo.locationName" v-model="resBaseInfo.locationName" placeholder="请选择位置" readonly />
                                        <span class="input-group-btn">
                                            <button class="btn btn-info" type="button" @click="showLocationLayer(2)">
                                                <span class="glyphicon glyphicon-search"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-2 control-label">描述性位置</div>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="resBaseInfo.locationDesc" v-model="resBaseInfo.locationDesc"
                                               placeholder="描述性位置"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-2 control-label">坐标位置</div>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="resBaseInfo.locationCoordinate"
                                               v-model="resBaseInfo.locationCoordinate" placeholder="坐标位置，如：F8、H13"/>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-2 control-label">
                                        三维图形对象ID
                                    </div>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="resBaseInfo.objId" v-model="resBaseInfo.objId" placeholder="三维图形对象ID"/>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="tab-pane fade" id="div_resPurchase">
                    <form id="form_resPurchase" role="form" class="form-horizontal full-width" method="post">
                        <div class="form-group">
                            <div class="col-sm-2 control-label">合同单位</div>
                            <div class="input-group col-sm-6">
                                <input type="hidden" v-model="resPurchase.contractCompanyId" />
                                <input type="text" class="form-control" id="resPurchase.contractCompanyName" v-model="resPurchase.contractCompanyName" placeholder="请输入合同单位" />
                                <span class="input-group-btn">
                                    <button class="btn btn-info" type="button" @click="showCompanyLayer(3)">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">
                                <span class="required">*</span>合同编号
                            </div>
                            <div class="input-group col-sm-6">
                                <input type="text" class="form-control" id="resPurchase.contractNo" v-model="resPurchase.contractNo" placeholder="合同编号"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">
                                <span class="required">*</span>合同附件
                            </div>
                            <div class="input-group col-sm-6">
                                <table role="presentation" class="table table-bordered" id="table_contractAttach">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="col-sm-7 pull-center">附件名称</th>
                                            <th scope="col">
                                                <a class="btn btn-success upload" id="uploadConcractAttach"><i class="fa fa-plus"></i>&nbsp;添加附件</a>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="files" id="tbody_contractAttach">
                                        <tr class="template-upload fade in" v-for="(attach, index) in resPurchase.contractAttachments">
                                            <td class="pull-center">
                                                <div>
                                                    <img :src="attach.tempUrl">
                                                </div>
                                                <div>
                                                    <a :href="'*.fileDownload?id=' + attach.id + '&token=' + $token">{{attach.name}}</a>
                                                </div>
                                            </td>
                                            <td>
                                                <a class="btn btn-primary start" :href="attach.url" target="_blank">
                                                    <i class="glyphicon glyphicon-upload"></i>
                                                    <span>预览</span>
                                                </a>
                                                <a class="btn btn-danger cancel" @click="deleteAttach(attach)">
                                                    <i class="fa fa-trash-o"></i>
                                                    <span>删除</span>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">
                                <span class="required">*</span>采购价格
                            </div>
                            <div class="input-group col-sm-6">
                                <input type="text" class="form-control" @keydown="handleDecimal" id="resPurchase.price" v-model="resPurchase.price" placeholder="采购价格"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">合同描述</div>
                            <div class="input-group col-sm-6">
                                <textarea type="text" class="form-control" id="resPurchase.contractDesc" v-model="resPurchase.contractDesc" rows="5"
                                          placeholder="合同描述"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="div_resMaintenance">
                    <form id="form_resMaintenance" role="form" class="form-horizontal full-width" method="post">
                        <div class="form-group">
                            <div class="col-sm-2 control-label">维保单位</div>
                            <div class="input-group col-sm-6">
                                <input type="hidden" v-model="resMaintenance.maintainCompany" />
                                <input type="text" class="form-control" id="resMaintenance.maintainCompanyName" v-model="resMaintenance.maintainCompanyName" placeholder="请选择维保单位" />
                                <span class="input-group-btn">
                                    <button class="btn btn-info" type="button" @click="showCompanyLayer(2)">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">维保部门</div>
                            <div class="input-group col-sm-6">
                                <input type="hidden" v-model="resMaintenance.maintainDeptId" />
                                <input type="text" class="form-control" id="resMaintenance.maintainDeptName" v-model="resMaintenance.maintainDeptName" placeholder="请选择维保部门" :disabled="!resMaintenance.maintainCompanyName" />
                                <span class="input-group-btn">
                                    <button class="btn btn-info" type="button" @click="showDeptLayer(3)" :disabled="!resMaintenance.maintainCompanyName">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">责任人</div>
                            <div class="input-group col-sm-6">
                                <input type="hidden" v-model="resMaintenance.personResponsible" />
                                <input type="text" class="form-control" id="resMaintenance.responsibleName" v-model="resMaintenance.responsibleName" placeholder="请选择责任人" :disabled="!resMaintenance.maintainDeptName" />
                                <span class="input-group-btn">
                                    <button class="btn btn-info" type="button" @click="showResponsibleLayer(3)" :disabled="!resMaintenance.maintainDeptName">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">保修开始日期</div>
                            <div class="input-group col-sm-6">
                                <!--<vuejs-datepicker></vuejs-datepicker>-->
                                <input type="text" class="form-control myDatetimePicker" id="resMaintenance.warrantyStartDate" placeholder="保修开始日期"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-info btn-datetime">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">保修结束日期</div>
                            <div class="input-group col-sm-6">
                                <input type="input-group text" class="form-control myDatetimePicker" id="resMaintenance.warrantyEndDate"  placeholder="保修结束日期"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-info btn-datetime">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">维保周期</div>
                            <div class="input-group col-sm-6">
                                <input type="input-group text" class="form-control" id="resMaintenance.maintainPeriod" v-model="resMaintenance.maintainPeriod" placeholder="维保周期" readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">维保价格</div>
                            <div class="input-group col-sm-6">
                                <input type="text" class="form-control" @keydown="handleDecimal" id="resMaintenance.maintainPrice" v-model="resMaintenance.maintainPrice"
                                       placeholder="维保价格"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">维保合同</div>
                            <div class="input-group col-sm-6">
                                <table role="presentation" class="table table-bordered" id="resMaintenance.maintainContract">
                                    <thead>
                                    <tr>
                                        <th scope="col" class="col-sm-7 pull-center">附件名称</th>
                                        <th scope="col">
                                            <a class="btn btn-success upload" id="uploadMaintainContract"><i class="fa fa-plus"></i>&nbsp;添加附件</a>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody class="files">
                                    <tr class="template-upload fade in" v-for="(attach, index) in resMaintenance.maintainContractAttachments">
                                        <td class="pull-center">
                                            <div>
                                                <img :src="attach.tempUrl">
                                            </div>
                                            <div>
                                                <a :href="'*.fileDownload?id=' + attach.id + '&token=' + $token">{{attach.name}}</a>
                                            </div>
                                        </td>
                                        <td>
                                            <a class="btn btn-primary start" :href="attach.url" target="_blank">
                                                <i class="glyphicon glyphicon-upload"></i>
                                                <span>预览</span>
                                            </a>
                                            <a class="btn btn-danger cancel" @click="deleteAttach(attach)">
                                                <i class="fa fa-trash-o"></i>
                                                <span>删除</span>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">设备资源说明书</div>
                            <div class="input-group col-sm-6">
                                <table role="presentation" class="table table-bordered" id="resMaintenance.resInstructions">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="col-sm-7 pull-center">附件名称</th>
                                            <th scope="col">
                                                <a class="btn btn-success upload" id="uploadInstructions"><i class="fa fa-plus"></i>&nbsp;添加附件</a>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="files">
                                        <tr class="template-upload fade in" v-for="(attach, index) in resMaintenance.resInstructionsAttachments">
                                            <td class="pull-center">
                                                <div>
                                                    <img :src="attach.tempUrl">
                                                </div>
                                                <div>
                                                    <a :href="'*.fileDownload?id=' + attach.id + '&token=' + $token">{{attach.name}}</a>
                                                </div>
                                            </td>
                                            <td>
                                                <a class="btn btn-primary start" :href="attach.url" target="_blank">
                                                    <i class="glyphicon glyphicon-upload"></i>
                                                    <span>预览</span>
                                                </a>
                                                <a class="btn btn-danger cancel" @click="deleteAttach(attach)">
                                                    <i class="fa fa-trash-o"></i>
                                                    <span>删除</span>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">运维保养注意事项</div>
                            <div class="input-group col-sm-6">
                                <textarea type="text" class="form-control" id="resMaintenance.precautionsText" rows="5"
                                          v-model="resMaintenance.precautionsText" placeholder="运维保养特别提示和注意事项（文字）"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">注意事项（附件）</div>
                            <div class="input-group col-sm-6">
                                <table role="presentation" class="table table-bordered" id="resMaintenance.precautionsAttach">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="col-sm-7 pull-center">附件名称</th>
                                            <th scope="col">
                                                <a class="btn btn-success upload" id="uploadPrecautions"><i class="fa fa-plus"></i>&nbsp;添加附件</a>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="files">
                                        <tr class="template-upload fade in" v-for="(attach, index) in resMaintenance.precautionsAttachments">
                                            <td class="pull-center">
                                                <div>
                                                    <img :src="attach.tempUrl">
                                                </div>
                                                <div>
                                                    <a :href="'*.fileDownload?id=' + attach.id + '&token=' + $token">{{attach.name}}</a>
                                                </div>
                                            </td>
                                            <td>
                                                <a class="btn btn-primary start" :href="attach.url" target="_blank">
                                                    <i class="glyphicon glyphicon-upload"></i>
                                                    <span>预览</span>
                                                </a>
                                                <a class="btn btn-danger cancel" @click="deleteAttach(attach)">
                                                    <i class="fa fa-trash-o"></i>
                                                    <span>删除</span>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">设备状态</div>
                            <div class="input-group col-sm-6">
                                <select type="text" class="form-control" id="resMaintenance.resStatus" v-model="resMaintenance.resStatus" placeholder="设备状态">
                                    <option value="1">入库</option>
                                    <option value="2">在用</option>
                                    <option value="3">送修</option>
                                    <option value="4">注销</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="div_resInstallConfig">
                    <form id="form_resInstallConfig" role="form" class="form-horizontal full-width" method="post">
                        <fieldset>
                            <legend>安装信息</legend>
                            <div class="form-group">
                                <div class="col-sm-2 control-label">图纸</div>
                                <div class="col-sm-6">
                                    <table role="presentation" class="table table-bordered" id="resInstallConfig.drawing">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="col-sm-7 pull-center">附件名称</th>
                                                <th scope="col">
                                                    <a class="btn btn-success upload" id="uploadDrawing"><i class="fa fa-plus"></i>&nbsp;添加附件</a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="files">
                                            <tr class="template-upload fade in" v-for="(attach, index) in resInstallConfig.drawingAttachments">
                                                <td class="pull-center">
                                                    <div>
                                                        <img :src="attach.tempUrl">
                                                    </div>
                                                    <div>
                                                        <a :href="'*.fileDownload?id=' + attach.id + '&token=' + $token">{{attach.name}}</a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a class="btn btn-primary start" :href="attach.url" target="_blank">
                                                        <i class="glyphicon glyphicon-upload"></i>
                                                        <span>预览</span>
                                                    </a>
                                                    <a class="btn btn-danger cancel" @click="deleteAttach(attach)">
                                                        <i class="fa fa-trash-o"></i>
                                                        <span>删除</span>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 control-label">操作规范说明</div>
                                <div class="col-sm-6">
                                    <textarea type="text" class="form-control" id="resInstallConfig.operationSpecificationText" rows="5"
                                              v-model="resInstallConfig.operationSpecificationText" placeholder="操作规范说明"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 control-label">操作规范说明（附件）</div>
                                <div class="col-sm-6">
                                    <table role="presentation" class="table table-bordered" id="resInstallConfig.operationSpecificationAttach">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="col-sm-7 pull-center">附件名称</th>
                                                <th scope="col">
                                                    <a class="btn btn-success upload" id="uploadOperationSpecification"><i class="fa fa-plus"></i>&nbsp;添加附件</a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="files">
                                            <tr class="template-upload fade in" v-for="(attach, index) in resInstallConfig.operSpecAttachments">
                                                <td class="pull-center">
                                                    <div>
                                                        <img :src="attach.tempUrl">
                                                    </div>
                                                    <div>
                                                        <a :href="'*.fileDownload?id=' + attach.id + '&token=' + $token">{{attach.name}}</a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a class="btn btn-primary start" :href="attach.url" target="_blank">
                                                        <i class="glyphicon glyphicon-upload"></i>
                                                        <span>预览</span>
                                                    </a>
                                                    <a class="btn btn-danger cancel" @click="deleteAttach(attach)">
                                                        <i class="fa fa-trash-o"></i>
                                                        <span>删除</span>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>参数配置</legend>
                            <div class="form-group">
                                <div class="col-sm-2 control-label">参数列表</div>
                                <div class="col-sm-6">
                                    <table role="presentation" class="table table-bordered" id="table_resEquipParam">
                                        <thead>
                                        <tr>
                                            <th scope="col" class="col-sm-5 pull-center">参数名称</th>
                                            <th scope="col" class="col-sm-4 pull-center">参数值</th>
                                            <th scope="col" class="pull-center">
                                                <a class="btn btn-success" @click="addResEquipParam"><i class="fa fa-plus"></i>&nbsp;添加</a>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody id="tbody_resEquipParam">
                                            <tr class="template-upload fade in" v-for="(param, index) in resBaseInfo.resEquipParamList">
                                                <td class="input-group pull-center">
                                                    <input type="hidden" v-model="param.dictId" />
                                                    <input type="text" class="form-control" id="param.name" v-model="param.name" />
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-info" type="button" @click="showParamLayer">
                                                            <span class="glyphicon glyphicon-search"></span>
                                                        </button>
                                                    </span>
                                                </td>
                                                <td class="pull-center">
                                                    <input type="text" class="form-control" v-model="param.value" />
                                                </td>
                                                <td class="pull-center">
                                                    <a class="btn btn-danger cancel" @click="deleteResEquipParam(param, index)">
                                                        <i class="fa fa-trash-o"></i>
                                                        <span>删除</span>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row pull-center">
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="保存"/>&nbsp;&nbsp;
                <input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </div>
    </div>

    <div id="div_locationLayer" style="display: none;padding:10px;">
        <ul id="locationTree" class="ztree"></ul>
    </div>
    <div id="div_companyLayer" style="display: none;padding:10px;">
        <ul id="companyTree" class="ztree"></ul>
    </div>
    <div id="div_deptLayer" style="display: none;padding:10px;">
        <ul id="deptTree" class="ztree"></ul>
    </div>
    <div id="div_maintainDeptLayer" style="display: none;padding:10px;">
        <ul id="maintainDeptTree" class="ztree"></ul>
    </div>
    <div id="div_responsibleLayer" style="display: none;padding:10px;">
        <ul id="responsibleTree" class="ztree"></ul>
    </div>
</div>

<script src="../../js/modules/res/resmgr.js"></script>
</body>
</html>