<!DOCTYPE html>
<html>
<head>
<title>资源运维信息</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqmloading/jquery.mloading.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/jqmloading/jquery.mloading.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../js/common.js"></script>
<script src="../../js/validator.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<a v-if="hasPermission('res:resmaintenance:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<a v-if="hasPermission('res:resmaintenance:update')" class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			<a v-if="hasPermission('res:resmaintenance:delete')" class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
											<div class="form-group">
			   	<div class="col-sm-2 control-label">资源ID</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="resId" v-model="resMaintenance.resId" placeholder="资源ID"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">维护单位</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="maintainDeptId" v-model="resMaintenance.maintainDeptId" placeholder="维护单位"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">责任人</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="personResponsible" v-model="resMaintenance.personResponsible" placeholder="责任人"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">保修开始日期</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="warrantyStartDate" v-model="resMaintenance.warrantyStartDate" placeholder="保修开始日期"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">保修结束日期</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="warrantyEndDate" v-model="resMaintenance.warrantyEndDate" placeholder="保修结束日期"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">维保单位</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="maintainCompany" v-model="resMaintenance.maintainCompany" placeholder="维保单位"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">维保周期</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="maintainPeriod" v-model="resMaintenance.maintainPeriod" placeholder="维保周期"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">维保价格</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="maintainPrice" v-model="resMaintenance.maintainPrice" placeholder="维保价格"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">维保合同，多个附件ID以逗号分隔</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="maintainContract" v-model="resMaintenance.maintainContract" placeholder="维保合同，多个附件ID以逗号分隔"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">设备资源说明书，多个附件ID以逗号分隔</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="resInstructions" v-model="resMaintenance.resInstructions" placeholder="设备资源说明书，多个附件ID以逗号分隔"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">运维或保养特别提示、注意事项（文字）</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="precautionsText" v-model="resMaintenance.precautionsText" placeholder="运维或保养特别提示、注意事项（文字）"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">运维或保养特别提示、注意事项（附件）</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="precautionsAttach" v-model="resMaintenance.precautionsAttach" placeholder="运维或保养特别提示、注意事项（附件）"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">设备状态,入库/在用/送修/注销</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="resStatus" v-model="resMaintenance.resStatus" placeholder="设备状态,入库/在用/送修/注销"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">创建时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="createTime" v-model="resMaintenance.createTime" placeholder="创建时间"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">创建人</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="createUserId" v-model="resMaintenance.createUserId" placeholder="创建人"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">修改时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="updateTime" v-model="resMaintenance.updateTime" placeholder="修改时间"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">修改人</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="updateUserId" v-model="resMaintenance.updateUserId" placeholder="修改人"/>
			    </div>
			</div>
							<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="../../js/modules/res/resmaintenance.js"></script>
</body>
</html>