<!DOCTYPE html>
<html>
<head>
<title>属性表</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../css/jquery.mloading.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<script src="../../libs/jquery.min.js"></script>
<script src="../../libs/jquery.mloading.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../js/common.js"></script>
<script src="../../js/validator.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<a v-if="hasPermission('generator:sysattr:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<a v-if="hasPermission('generator:sysattr:update')" class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			<a v-if="hasPermission('generator:sysattr:delete')" class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
											<div class="form-group">
			   	<div class="col-sm-2 control-label">属性名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="name" v-model="sysAttr.name" placeholder="属性名称"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">属性类别，如：文本、数字、邮件、IP地址、下拉框等</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="type" v-model="sysAttr.type" placeholder="属性类别，如：文本、数字、邮件、IP地址、下拉框等"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">数据来源，1、属性值表 2、字典表 3、业务表</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="dataSource" v-model="sysAttr.dataSource" placeholder="数据来源，1、属性值表 2、字典表 3、业务表"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">正则表达式</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="regExpression" v-model="sysAttr.regExpression" placeholder="正则表达式"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">数据来源=2时为字典KEY，=3时为业务表SQL</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="queryText" v-model="sysAttr.queryText" placeholder="数据来源=2时为字典KEY，=3时为业务表SQL"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">状态，1、有效，0、无效</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="status" v-model="sysAttr.status" placeholder="状态，1、有效，0、无效"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">创建时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="createTime" v-model="sysAttr.createTime" placeholder="创建时间"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">创建人</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="createUserId" v-model="sysAttr.createUserId" placeholder="创建人"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">修改时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="updateTime" v-model="sysAttr.updateTime" placeholder="修改时间"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">修改人</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="updateUserId" v-model="sysAttr.updateUserId" placeholder="修改人"/>
			    </div>
			</div>
							<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="../../js/modules/generator/sysattr.js"></script>
</body>
</html>