<!DOCTYPE html>
<html>
<head>
	<title>数据字典表</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/font-awesome.min.css">
	<link rel="stylesheet" href="../../plugins/jqmloading/jquery.mloading.css">
	<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
	<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
	<link rel="stylesheet" href="../../css/main.css">
	<script src="../../libs/jquery.min.js"></script>
	<script src="../../plugins/jqmloading/jquery.mloading.js"></script>
	<script src="../../plugins/layer/layer.js"></script>
	<script src="../../libs/bootstrap.min.js"></script>
	<script src="../../libs/vue.min.js"></script>
	<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
	<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
	<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
	<script src="../../js/common.js"></script>
	<script src="../../js/validator.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<a v-if="hasPermission('sys:sysdatadict:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<a v-if="hasPermission('sys:sysdatadict:update')" class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			<a v-if="hasPermission('sys:sysdatadict:delete')" class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form role="form" class="form-horizontal full-width">
											<div class="form-group">
			   	<div class="col-sm-2 control-label">字典名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="name" v-model="sysDataDict.name" placeholder="字典名称"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">字典类型</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="type" v-model="sysDataDict.type" placeholder="字典类型"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">字典项值</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="value" v-model="sysDataDict.value" placeholder="字典项值"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">扩展值</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="extValue" v-model="sysDataDict.extValue" placeholder="扩展值"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">排序</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="sortOrder" v-model="sysDataDict.sortOrder" placeholder="排序"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">父级字典</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="parentId" v-model="sysDataDict.parentId" placeholder="父级字典"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">字典描述</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="dictDesc" v-model="sysDataDict.dictDesc" placeholder="字典描述"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">状态，1、有效，0、无效</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="status" v-model="sysDataDict.status" placeholder="状态，1、有效，0、无效"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">创建时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="createTime" v-model="sysDataDict.createTime" placeholder="创建时间"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">创建人</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="createUserId" v-model="sysDataDict.createUserId" placeholder="创建人"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">修改时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="updateTime" v-model="sysDataDict.updateTime" placeholder="修改时间"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">修改人</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="updateUserId" v-model="sysDataDict.updateUserId" placeholder="修改人"/>
			    </div>
			</div>
							<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="../../js/modules/sys/sysdatadict.js"></script>
</body>
</html>
