<!DOCTYPE html>
<html>
<head>
<title>部门</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../js/common.js"></script>
</head>
<body>
<div id="infTestApp" v-cloak>
	<form role="form" class="form-horizontal full-width" method="post" >
		<div class="form-group">
			<label class="col-sm-2 control-label" for="beginDate">开始时间：</label>
			<div class="col-sm-5">
				<input class="form-control" id="beginDate" v-model="param.beginDate" placeholder="开始时间" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="endDate">结束时间：</label>
			<div class="col-sm-5">
				<input class="form-control" id="endDate" v-model="param.endDate" placeholder="结束时间" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-5 pull-center">
				<input type="button" class="btn btn-primary" @click="query" value="接口测试"/>
			</div>
		</div>
	</form>
</div>

<script src="../../js/modules/sys/sysdictitem.js"></script>
</body>
</html>