<!DOCTYPE html>
<html>
<head>
<title>文件上传</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../plugins/jqfileupload/js/vendor/jquery.ui.widget.js"></script>
<script src="../../plugins/jqfileupload/js/jquery.iframe-transport.js"></script>
<script src="../../plugins/jqfileupload/js/jquery.fileupload.js"></script>
<script src="../../plugins/jqfileupload/js/jquery.fileupload-process.js"></script>
<script src="../../plugins/jqfileupload/js/jquery.fileupload-image.js"></script>
<script src="../../plugins/jqfileupload/js/jquery.fileupload-audio.js"></script>
<script src="../../plugins/jqfileupload/js/jquery.fileupload-video.js"></script>
<script src="../../plugins/jqfileupload/js/jquery.fileupload-validate.js"></script>
<script src="../../plugins/jqfileupload/js/jquery.fileupload-ui.js"></script>
<script src="../../js/common.js"></script>
<script src="../../libs/ajaxupload.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<form id="fileupload" method="POST" enctype="multipart/form-data">
		<!-- Redirect browsers with JavaScript disabled to the origin page -->
		<noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
		<!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
		<div class="row fileupload-buttonbar">
			<div class="col-lg-7">
				<!-- The fileinput-button span is used to style the file input field as button -->
				<span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Add files...</span>
                        <input type="file" name="files[]" multiple>
                    </span>
				<button type="submit" class="btn btn-primary start">
					<i class="glyphicon glyphicon-upload"></i>
					<span>Start upload</span>
				</button>
				<button type="reset" class="btn btn-warning cancel">
					<i class="glyphicon glyphicon-ban-circle"></i>
					<span>Cancel upload</span>
				</button>
				<button type="button" class="btn btn-danger delete">
					<i class="glyphicon glyphicon-trash"></i>
					<span>Delete</span>
				</button>
				<input type="checkbox" class="toggle">
				<!-- The global file processing state -->
				<span class="fileupload-process"></span>
			</div>
			<!-- The global progress state -->
			<div class="col-lg-5 fileupload-progress fade">
				<!-- The global progress bar -->
				<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
					<div class="progress-bar progress-bar-success" style="width:0%;"></div>
				</div>
				<!-- The extended global progress state -->
				<div class="progress-extended">&nbsp;</div>
			</div>
		</div>
		<!-- The table listing the files available for upload/download -->
		<table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
	</form>
	<script id="template-upload" type="text/x-tmpl">
		{% for (var i=0, file; file=o.files[i]; i++) { %}
			<tr class="template-upload fade">
				<td>
					<span class="preview"></span>
				</td>
				<td>
					<p class="name">{%=file.name%}</p>
					<strong class="error text-danger"></strong>
				</td>
				<td>
					<p class="size">Processing...</p>
					<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
				</td>
				<td>
					{% if (!i && !o.options.autoUpload) { %}
						<button class="btn btn-primary start" disabled>
							<i class="glyphicon glyphicon-upload"></i>
							<span>上传</span>
						</button>
					{% } %}
					{% if (!i) { %}
						<button class="btn btn-warning cancel">
							<i class="glyphicon glyphicon-ban-circle"></i>
							<span>取消</span>
						</button>
					{% } %}
				</td>
			</tr>
		{% } %}
	</script>
	<!-- The template to display files available for download -->
	<script id="template-download" type="text/x-tmpl">
		{% for (var i=0, file; file=o.files[i]; i++) { %}
			<tr class="template-download fade">
				<td>
					<span class="preview">
						{% if (file.thumbnailUrl) { %}
							<a href="../static/{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="../static/{%=file.thumbnailUrl%}"></a>
						{% } %}
					</span>
				</td>
				<td>
					<p class="name">
						{% if (file.url) { %}
							<a href="../static/{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
						{% } else { %}
							<span>{%=file.name%}</span>
						{% } %}
					</p>
					{% if (file.error) { %}
						<div><span class="label label-danger">Error</span> {%=file.error%}</div>
					{% } %}
				</td>
				<td>
					<span class="size">{%=o.formatFileSize(file.size)%}</span>
				</td>
				<td>
					{% if (file.deleteUrl) { %}
						<button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
							<i class="glyphicon glyphicon-trash"></i>
							<span>Delete</span>
						</button>
						<input type="checkbox" name="delete" value="1" class="toggle">
					{% } else { %}
						<button class="btn btn-warning cancel">
							<i class="glyphicon glyphicon-ban-circle"></i>
							<span>Cancel</span>
						</button>
					{% } %}
				</td>
			</tr>
		{% } %}
	</script>
	<div v-show="showList">
		<div class="grid-btn">
			<a class="btn btn-danger" @click="addConfig"><i class="fa fa-sun-o"></i>&nbsp;云存储配置</a>
			<a class="btn btn-primary" id="upload"><i class="fa fa-plus"></i>&nbsp;上传文件</a>
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-2 control-label">存储类型</div>
				<label class="radio-inline">
					<input type="radio" name="type" v-model="config.type" value="1"/> 七牛
				</label>
				<label class="radio-inline">
					<input type="radio" name="type" v-model="config.type" value="2"/> 阿里云
				</label>
				<label class="radio-inline">
					<input type="radio" name="type" v-model="config.type" value="3"/> 腾讯云
				</label>
			</div>
			<div v-show="config.type == 1">
				<div class="form-group">
					<div class="col-sm-2 control-label">&nbsp;</div>
					<p class="form-control-static"><a href="http://www.renren.io/open/qiniu.html" target="_blank">免费申请(七牛)10GB储存空间</a></p>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">域名</div>
					<div class="col-sm-10">
					  <input type="text" class="form-control" v-model="config.qiniuDomain" placeholder="七牛绑定的域名"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">路径前缀</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="config.qiniuPrefix" placeholder="不设置默认为空"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">AccessKey</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="config.qiniuAccessKey" placeholder="七牛AccessKey"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">SecretKey</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="config.qiniuSecretKey" placeholder="七牛SecretKey"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">空间名</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="config.qiniuBucketName" placeholder="七牛存储空间名"/>
					</div>
				</div>
			</div>
			<div v-show="config.type == 2">
				<div class="form-group">
					<div class="col-sm-2 control-label">域名</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="config.aliyunDomain" placeholder="阿里云绑定的域名"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">路径前缀</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="config.aliyunPrefix" placeholder="不设置默认为空"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">EndPoint</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="config.aliyunEndPoint" placeholder="阿里云EndPoint"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">AccessKeyId</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="config.aliyunAccessKeyId" placeholder="阿里云AccessKeyId"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">AccessKeySecret</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="config.aliyunAccessKeySecret" placeholder="阿里云AccessKeySecret"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">BucketName</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="config.aliyunBucketName" placeholder="阿里云BucketName"/>
					</div>
				</div>
			</div>
			<div v-show="config.type == 3">
				<div class="form-group">
					<div class="col-sm-2 control-label">域名</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="config.qcloudDomain" placeholder="腾讯云绑定的域名"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">路径前缀</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="config.qcloudPrefix" placeholder="不设置默认为空"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">AppId</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="config.qcloudAppId" placeholder="腾讯云AppId"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">SecretId</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="config.qcloudSecretId" placeholder="腾讯云SecretId"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">SecretKey</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="config.qcloudSecretKey" placeholder="腾讯云SecretKey"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">BucketName</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="config.qcloudBucketName" placeholder="腾讯云BucketName"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">Bucket所属地区</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="config.qcloudRegion" placeholder="如：sh（可选值 ，华南：gz 华北：tj 华东：sh）"/>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="../../js/modules/oss/oss.js"></script>
</body>
</html>