<!DOCTYPE html>
<html>
<head>
    <title>主页</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="just do it">
    <link rel="shortcut icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../lib/weui.css">
    <link rel="stylesheet" href="../css/jquery-weui.css">
    <link rel="stylesheet" href="css/demos.css">
    <style>
        .placeholder {
            margin: 5px;
            padding: 3px 10px;
            height: 5.5em;
            line-height: 1.3em;
            text-align: center;
            /*background: #3b6d1d26;*/
            background: #9bb1ef42;
            font-family: 微软雅黑;
            vertical-align: center;
        }
    </style>
</head>

<body ontouchstart>
    <div class="weui-tab">
        <div class="weui-tab__bd">
            <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
                <div class="weui-navbar">
                    <div class="weui-navbar__item weui_bar__item_on">
                        通行记录
                    </div>
                    <div class="weui-navbar__item">
                        通行权限设置
                    </div>
                </div>
                <div class="weui-tab__bd">
                    <div id="tab11" class="weui-tab__bd-item weui-tab__bd-item--active">
                        <div class="weui-cells">
                            <a class="weui-cell weui-cell_access" href="javascript:;">
                                <div class="weui-cell__bd">
                                    <p>2018-02-08</p>
                                </div>
                                <div class="weui-cell__ft">
                                    长沙星沙高速公路
                                </div>
                            </a>
                            <a class="weui-cell weui-cell_access" href="javascript:;">
                                <div class="weui-cell__bd">
                                    <p>2018-02-06</p>
                                </div>
                                <div class="weui-cell__ft">
                                    长沙望城高速公路
                                </div>
                            </a>
                            <a class="weui-cell weui-cell_access" href="javascript:;">
                                <div class="weui-cell__bd">
                                    <p>2018-02-05</p>
                                </div>
                                <div class="weui-cell__ft">
                                    长沙银盆岭高速收费站
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab2" class="weui-tab__bd-item">
                <h1>页面二</h1>
            </div>
            <div id="tab3" class="weui-tab__bd-item">
                <h1>页面三</h1>
            </div>
        </div>

        <div class="weui-tabbar">
            <a href="#tab1" class="weui-tabbar__item weui-bar__item--on">
                <div class="weui-tabbar__icon">
                    <img src="./images/icon_nav_button.png" alt="">
                </div>
                <p class="weui-tabbar__label">通行管理</p>
            </a>
            <a href="#tab2" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="./images/icon_nav_msg.png" alt="">
                </div>
                <p class="weui-tabbar__label">车辆管理</p>
            </a>
            <a href="#tab3" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="./images/icon_nav_cell.png" alt="">
                </div>
                <p class="weui-tabbar__label">个人中心</p>
            </a>
        </div>
    </div>

<script src="../lib/jquery-2.1.4.js"></script>
<script src="../lib/fastclick.js"></script>
<script>
    $(function() {
        FastClick.attach(document.body);
    });
</script>
<script src="../js/jquery-weui.js"></script>


<script>
    $("#a").select({
        title: "选择职业",
        items: ["法官", "医生", "猎人", "学生", "记者", "其他"]
    });
</script>
</body>
</html>
