<!DOCTYPE html>
<html>
<head>
    <title>用户注册</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="just do it">
    <link rel="shortcut icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../lib/weui.css">
    <link rel="stylesheet" href="../css/jquery-weui.css">
    <link rel="stylesheet" href="css/demos.css">
    <style>
        .demos-header {
            padding: 0px;
        }
        .my-link {
            clear: both;
            margin-right: 0.75rem;
            text-decoration: underline;
            font-size: 13px;
        }
        .weui-agree {
            display: inline;
            padding-right: 0px;
        }
    </style>
</head>

<body ontouchstart>


<header class='demos-header'>
    <h1 class="demos-title">用 户 注 册</h1>
</header>
<!--<div class="weui-cells__title">表单</div>-->
<div class="weui-cells weui-cells_form">
    <div class="weui-cell weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">用户名</label>
        </div>
        <div class="weui-cell__bd">
            <input id="txt_userName" class="weui-input" type="text" placeholder="长度为4-20个字符，支持数字和字母组合，作为登录用账号且不能修改">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">密&nbsp;&nbsp;&nbsp;码</label>
        </div>
        <div class="weui-cell__bd">
            <input id="txt_pwd" class="weui-input" type="password" placeholder="6-16个字符，建议使用数字、字母、下划线或其组合">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">确认密码</label>
        </div>
        <div class="weui-cell__bd">
            <input id="txt_confirmPwd" class="weui-input" type="password" placeholder="请输入确认密码">
        </div>
    </div>
    <div class="weui-cell weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">身份证</label>
        </div>
        <div class="weui-cell__bd">
            <input id="txt_idCard" class="weui-input" type="text" placeholder="请填写您的第二代居民身份证号">
        </div>
    </div>
    <div class="weui-cell weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">姓名</label>
        </div>
        <div class="weui-cell__bd">
            <input id="txt_realname" class="weui-input" type="text" placeholder="与身份证上姓名一致">
        </div>
    </div>
    <div class="weui-cell weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">性别</label>
        </div>
        <div class="weui-cell__bd">
            <select class="weui-select" name="gender">
                <option selected="" value="1">男</option>
                <option value="0">女</option>
            </select>
        </div>
    </div>
    <div class="weui-cell weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">手机号</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="txt_mobile" type="tel" placeholder="请输入手机号">
        </div>
    </div>
    <div class="weui-cell weui-cell_vcode">
        <div class="weui-cell__hd"><label class="weui-label">验证码</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="number" pattern="\d{6}" placeholder="请输入验证码">
        </div>
        <div class="weui-cell__ft">
            <button class="weui-vcode-btn">获取验证码</button>
        </div>
    </div>
    <div class="weui-cell weui-cell">
        <div class="weui-cell__hd">
            <label for="txt_address" class="weui-label">联系地址</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="txt_address" type="text" placeholder="请选择联系地址">
        </div>
    </div>
    <div class="weui-cell weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">详细地址<label>
        </div>
        <div class="weui-cell__bd">
            <input id="tt_detailAddr" class="weui-input" type="text" placeholder="请输入街道、社区、楼层">
        </div>
    </div>
</div>
<div>
    <label for="weuiAgree" class="weui-agree">
        <input id="weuiAgree" type="checkbox" class="weui-agree__checkbox">
        <span class="weui-agree__text">
            阅读并同意
        </span>
    </label>
    <a href="javascript:;" id="terms" class="my-link open-popup" data-target="#div_terms">《相关条款》</a>
</div>

<div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary" href="javascript:" id="btn_submit">确定</a>
</div>

<!-- terms -->
<div id="div_terms" class='weui-popup__container'>
    <div class="weui-popup__overlay"></div>
    <div class="weui-popup__modal">
        <header class='demos-header'>
            <h2 class="demos-second-title">注册协议</h2>
            <p class="demos-sub-title">请您仔细阅读</p>
        </header>
        <article class="weui-article">
            <h1>用户须知</h1>
            <section>
                <h2 class="title">一、【目的意义】</h2>
                <section>
                    <p>
                        为保证网上政务服务用户信息的真实性、合法性和有效性，自然人、法人用户注册、验证应采用实名制。统一用户注册和验证是开展互联网+政务服务、建立行政机关和行政相对人线上服务法律关系的前提，是今后全国政务服务实现网上“一地注册，各地互认”的基础。在您成为“互联网+政务服务”实名注册用户（简称“注册用户”）之前，请确认您已充分阅读、理解并接受本协议的全部内容，同意遵循本协议之所有约定。
                    </p>
                    <!--<p>-->
                    <!--<img src="./images/pic_article.png" alt="">-->
                    <!--<img src="./images/pic_article.png" alt="">-->
                    <!--</p>-->
                </section>
            </section>
            <section>
                <h2 class="title">二、【协议适用主体范围】</h2>
                <section>
                    <p>
                        政务服务门户的运营管理权归政务服务机构所有。本协议是您和湖南省政务服务管理机构（简称“政务服务机构”），明确双方通过湖南省政务服务门户和平台办理政务服务事项过程中的权利义务所订立的协议。订立本协议的用户，应当是具备完全民事权利能力和完全民事行为能力的自然人。
                    </p>
                </section>
            </section>
            <section>
                <h2 class="title">三、【服务内容】</h2>
                <section>
                    <p>
                        注册用户能够访问互联网政务服务门户网站、检索静态信息、进行在线咨询、申办政务服务事项，可在专属用户空间查询所办事项的过程信息和历史信息，储存信息资料，并自行维护用户空间信息。
                    </p>
                </section>
            </section>
            <section>
                <h2 class="title">四、【用户承诺与授权】</h2>
                <section>
                    <p>
<pre>
用户在政务服务门户进行注册和使用本政务服务平台时承诺和确认：
（1）提供及时、详尽及准确的个人资料；
（2）运用本人手机号码、社保帐号、银行卡帐号、公积金帐号、驾照号码等个人信息进行实名验证；
（3）及时更新注册资料；
（4）同意接收来自政务服务机构推送的信息；
（5）在提请政务服务事项办理过程中，按服务内容要求提供真实、准确的要件材料，并及时对上传本平台的要件材料做好更新维护；
（6）自愿选择物流快递、网上支付等第三方服务时，及时提供真实姓名、联系地址、联系方式、账户等相关个人信息；
（7）不存放与政务服务申办无关的信息内容。
</pre>
                    </p>
                </section>
            </section>
            <section>
                <h2 class="title">五、【用户信息保障】</h2>
                <section>
                    <p>
                        政务服务机构依法保护个人隐私，不违法违规向与政务服务无关的第三方提供用户注册资料。
                    </p>
                </section>
            </section>
            <section>
                <h2 class="title">六、【用户的密码和安全性】</h2>
                <section>
                    <p>
                        考虑到注册用户是特定的行政相对人，以其帐号操作的行为由注册用户承担相应法律责任。因此，注册用户应妥善保管密码，不得将帐号、密码提供给他人使用。建议定期修改密码，以确保帐号安全。
                    </p>
                </section>
            </section>
        </article>
        <a href="javascript:;" class="weui-btn weui-btn_primary close-popup">关闭</a>
    </div>
</div>

<script src="../lib/jquery-2.1.4.js"></script>
<script src="../lib/fastclick.js"></script>
<script>
    $(function() {
        FastClick.attach(document.body);
    });
</script>
<script src="../js/jquery-weui.js"></script>
<script src="../js/city-picker.js"></script>


<script>
    $(function () {
        $(document).on("open", "#terms", function() {
            console.log("open popup");
        }).on("close", "#terms", function() {
            console.log("close popup");
        });
        $("#txt_address").cityPicker({
            title: "请选择联系地址",
            onChange: function (picker, values, displayValues) {
                console.log(values, displayValues);
            }
        });

        $("#btn_submit").click(function() {
            var userName = $('#txt_userName').val();
            var pwd = $('#txt_pwd').val();
            if (!userName) {
                $.toptip('请输入用户名或手机号码');
            } else if (!pwd) {
                $.toptip('请输入密码');
            } else {
                $.toptip('提交成功', 'success');
            }
        });
    });
</script>
</body>
</html>
